body{
    color: rgb(250, 252, 251);
}
body{
background-color:#36804b ;

}
body{
font-family: cursive  ;
line-height:1.4;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 12px;
    margin:0;
    padding: 10px 16px;
}
