body{
    color: rgb(250, 252, 251);
}
body{
background-color:#377e4b ;

}
body{
font-family: cursive  ;
line: height 1.5;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 12px;
    margin:0;
    padding: 10px 16px;
}
.nav-link{
    text-decoration: none;
    color: rgb(11, 37, 2);
    padding: 6px 10px;
    border-radius: 8px;
}
nav {
    margin: 25px 0 45px 25px;
    padding: 15px 25px;

    background-color: #245c38;
    border: 3px solid #d8c98b;
    border-radius: 35px;

    width: fit-content;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    position: relative;
    list-style: none;
}

nav a {
    position: relative;
    z-index: 2;

    display: block;
    padding: 12px 25px;

    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;

    border-radius: 30px;
}

/* GROSSE BLUBBERBLASE */
nav li:hover::after {
    content: "";
    position: absolute;
    z-index: 1;

    width: 145px;
    height: 75px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.25);
    border: 3px solid #d8c98b;
    border-radius: 50%;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    animation: blubbern 0.5s ease;
}

/* VERSCHIEDENE EMOJIS */
nav li:nth-child(1):hover::before {
    content: "🏠";
}

nav li:nth-child(2):hover::before {
    content: "🐑";
}

nav li:nth-child(3):hover::before {
    content: "📸";
}

nav li:hover::before {
    position: absolute;
    z-index: 3;

    left: 50%;
    top: -25px;

    transform: translateX(-50%);

    font-size: 27px;

    animation: emoji 0.4s ease;
}

@keyframes blubbern {
    from {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes emoji {
    from {
        transform: translateX(-50%) scale(0.5);
    }

    to {
        transform: translateX(-50%) scale(1);
    }
}